@mixin btnPage {
    background:red;
            height: 9vh;
            width: 12vw;
            border: transparent;
            border-radius: 10px;
            font-size: 1rem;
            color: white;
            padding: 1rem;
            margin-top: 1.5rem;
}